.game__startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #01080e;
  background: #fea55f;
  border-radius: 8px;
  width: 112px;
  height: 38px;
  margin: 0 auto;
  margin-top: 300px;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
